@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --spacing-header: 3rem;
  --spacing-toc: 60vh;
  --spacing-def: 64rem;
  --spacing-main: 720px;
  --aspect-cover: 5 / 2;
  --background-image-cc-light: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OTYgNTEyJz48cGF0aCBmaWxsPScjNGE0YTRhJyBkPSdNMjQ1LjggMjE0LjlsLTMzLjIgMTcuM2MtOS40LTE5LjYtMjUuMi0yMC0yNy40LTIwLTIyLjIgMC0zMy4zIDE0LjYtMzMuMyA0My45IDAgMjMuNSA5LjIgNDMuOCAzMy4zIDQzLjggMTQuNCAwIDI0LjYtNyAzMC41LTIxLjNsMzAuNiAxNS41YTczLjIgNzMuMiAwIDAxLTY1LjEgMzljLTIyLjYgMC03NC0xMC4zLTc0LTc3IDAtNTguNyA0My03NyA3Mi42LTc3IDMwLjgtLjEgNTIuNyAxMS45IDY2IDM1Ljh6bTE0MyAwbC0zMi43IDE3LjNjLTkuNS0xOS44LTI1LjctMjAtMjcuOS0yMC0yMi4xIDAtMzMuMiAxNC42LTMzLjIgNDMuOSAwIDIzLjUgOS4yIDQzLjggMzMuMiA0My44IDE0LjUgMCAyNC43LTcgMzAuNS0yMS4zbDMxIDE1LjVjLTIgMy44LTIxLjMgMzktNjUgMzktMjIuNyAwLTc0LTkuOS03NC03NyAwLTU4LjcgNDMtNzcgNzIuNi03N0MzNTQgMTc5IDM3NiAxOTEgMzg5IDIxNC44ek0yNDcuNyA4QzEwNC43IDggMCAxMjMgMCAyNTZjMCAxMzguNCAxMTMuNiAyNDggMjQ3LjYgMjQ4QzM3Ny41IDUwNCA0OTYgNDAzIDQ5NiAyNTYgNDk2IDExOCAzODkuNCA4IDI0Ny42IDh6bS44IDQ1MC44Yy0xMTIuNSAwLTIwMy43LTkzLTIwMy43LTIwMi44IDAtMTA1LjUgODUuNS0yMDMuMyAyMDMuOC0yMDMuM0EyMDEuNyAyMDEuNyAwIDAxNDUxLjMgMjU2YzAgMTIxLjctOTkuNyAyMDIuOS0yMDIuOSAyMDIuOXonLz48L3N2Zz4=');
  --background-image-cc-dark: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OTYgNTEyJz48cGF0aCBmaWxsPScjYjBiMGIwJyBkPSdNMjQ1LjggMjE0LjlsLTMzLjIgMTcuM2MtOS40LTE5LjYtMjUuMi0yMC0yNy40LTIwLTIyLjIgMC0zMy4zIDE0LjYtMzMuMyA0My45IDAgMjMuNSA5LjIgNDMuOCAzMy4zIDQzLjggMTQuNCAwIDI0LjYtNyAzMC41LTIxLjNsMzAuNiAxNS41YTczLjIgNzMuMiAwIDAxLTY1LjEgMzljLTIyLjYgMC03NC0xMC4zLTc0LTc3IDAtNTguNyA0My03NyA3Mi42LTc3IDMwLjgtLjEgNTIuNyAxMS45IDY2IDM1Ljh6bTE0MyAwbC0zMi43IDE3LjNjLTkuNS0xOS44LTI1LjctMjAtMjcuOS0yMC0yMi4xIDAtMzMuMiAxNC42LTMzLjIgNDMuOSAwIDIzLjUgOS4yIDQzLjggMzMuMiA0My44IDE0LjUgMCAyNC43LTcgMzAuNS0yMS4zbDMxIDE1LjVjLTIgMy44LTIxLjMgMzktNjUgMzktMjIuNyAwLTc0LTkuOS03NC03NyAwLTU4LjcgNDMtNzcgNzIuNi03N0MzNTQgMTc5IDM3NiAxOTEgMzg5IDIxNC44ek0yNDcuNyA4QzEwNC43IDggMCAxMjMgMCAyNTZjMCAxMzguNCAxMTMuNiAyNDggMjQ3LjYgMjQ4QzM3Ny41IDUwNCA0OTYgNDAzIDQ5NiAyNTYgNDk2IDExOCAzODkuNCA4IDI0Ny42IDh6bS44IDQ1MC44Yy0xMTIuNSAwLTIwMy43LTkzLTIwMy43LTIwMi44IDAtMTA1LjUgODUuNS0yMDMuMyAyMDMuOC0yMDMuM0EyMDEuNyAyMDEuNyAwIDAxNDUxLjMgMjU2YzAgMTIxLjctOTkuNyAyMDIuOS0yMDIuOSAyMDIuOXonLz48L3N2Zz4=');
}

hr,
.border,
.border-r,
.border-l,
.border-t,
.border-b,
.border-x,
.border-y {
  @apply border-[#eaeaea] dark:border-[#333];
}

details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}
